
/*This is the CSS to the google homepage project. Hopefully it works*/
/*div id="left header"{
    display inline 
    width 60px
}
*/

/*This is the header section*/
li {
    display: inline 
}

#rightheader{
    float: right; 
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
#GoogleAccountLogo{
    color: white;
    background-color: purple; 
    width: 20px
}

/*Body Section*/ 
#GoogleLogo {
    display: block;
    margin: auto;
    width: 50%;
    position: relative;
}

#searchbar{
    display: block;
    margin: auto;
    width: 100%;
    padding: 100px
}

#buttons {
    display: block;
    margin: auto;
    padding: 100px
}

/*Footer*/ 
footer{
    background-color: royalblue
}
#rightfooter{
    float: right;
}