
/*This is the CSS to the google homepage project. Hopefully it works*/
/*div id="left header"{
    display inline 
    width 60px
}
*/

/*This is the header section*/
li {
    display: inline 
}

#rightheader{
    float: right; 
} 

ul {
    list-style-type: none;
    margin: 0;
    padding:0;
} 
#GoogleAccountLogo{
    color: white;
    background-color: purple; 
    width:20px
}

/*Body Section*/ 
body {
    margin: auto;
    width: 50%;
    padding:100px;
}

#searchbar{
    width:100%;
}
/*Footer*/ 
footer{
    background-color: whitesmoke;
}
#rightfooter{
    float: right;
}